.grid {
    display: flex;
    justify-content: center;
  }

  .grid-container {
    position: relative;
    margin-top: 30px;
  }

  .label-container {
    position: relative;
    margin-right: 10px;
  }

  .valence-label {
    position: absolute;
    width: 80px;
    text-align: center;
  }

  .valence-label.negative {
    top: 50%;
    left: -10px;
    transform: translateY(260px);
  }

  .valence-label.positive {
    top: 50%;
    right: -60px;
    transform: translateY(260px);
  }

  .arousal-label {
    position: absolute;
    text-align: center;
  }

  .arousal-label.positive {
    top: -10px;
    left: 285px;
  }

  .arousal-label.negative {
    bottom: -560px;
    left: 285px;
  }

  .grid-row {
    display: flex;
  }

  .grid-cell {
    width: 10px;
    height: 10px;
    box-sizing: border-box;
    flex-shrink: 0;
  }

  .grid-cell--top {
    border-top: 1px solid black;
  }

  .grid-cell--right {
    border-right: 1px solid black;
  }

  .grid-cell--bottom {
    border-bottom: 1px solid black;
  }

  .grid-cell--left {
    border-left: 1px solid black;
  }

  .grid-line--horizontal {
    position: absolute;
    top: 50%;
    left: 0;
    width: 500px;
    height: 1px;
    background-color: black;
    border-top: none;
    border-bottom: none;
  }

  .grid-line--vertical {
    position: absolute;
    top: 0;
    left: 249px;
    width: 1px;
    height: 100%;
    background-color: black;
    border-left: none;
    border-right: none;
  }
  .grid-cell--selected {
    background-color: black;
  }

  .submit-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 60px;
  }

  .submit-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  .submit-button:hover {
    background-color: #0069d9;
  }

  .submit-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
  }

  .submit-button:active {
    background-color: #0062cc;
    transform: translateY(1px);
  }

  .valence- {
    margin-right: 10px;
  }