.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.Navbar__logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.Navbar__logo {
  height: 50px;
  margin-right: 10px;
}